<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
        }

        * {
            font-size: 16px;
        }

        .container {
            margin: auto;
            max-width: 526px;
            padding: 32px 24px;
            background-color: #fff;
        }

        .wrapper {
            width: 100%;
            padding: 50px 50px;
            background-color: #f2f3f5;
        }

        .text-center {
            text-align: center;
        }

        .header {
            display: flex;
            margin-bottom: 20px;
        }
        .header img {
            margin: auto;
        }

        .content {
            margin-bottom: 30px;
        }

        .mt-3 {
            margin-top: 30px;
        }

        .mt-5 {
            margin-top: 50px;
        }

        .footer {
            margin-top: 50px;
            text-align: right;
            font-weight: bold;
            color: #e51c2f;
        }

        .text-red {
            color: #e51c2f !important;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <div class="container">
        <header class="header">
            <img style="display: block; width: 137px; height: 26px" src="cid:logo1" />
        </header>
        <div class="content mt-5">
            <p class="mt-5 text-center">Уважаемый Партнер!</p>
            <p class="mt-3">
                Данные по отгрузкам в адрес клиентов, за период {{ datePeriod }}, были успешно загружены.
            </p>
            <p class="mt-3">
                Благодарим за соблюдение регламента Программы Лояльности "FENOX Шоколад"!
            </p>
            <p class="mt-3">
                Служба поддержки партнеров Программы Лояльности "FENOX Шоколад"
                <a class="text-red" href="mailto:chocobonus@dstek.ru">chocobonus@dstek.ru</a>
            </p>
        </div>
        <div class="footer">Ваш FENOX</div>
    </div>
</div>
</body>
</html>
