<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
      }

      * {
        font-size: 16px;
      }

      .container {
        margin: auto;
        max-width: 526px;
        padding: 32px 24px;
        background-color: #fff;
      }

      .wrapper {
        width: 100%;
        padding: 50px 50px;
        background-color: #f2f3f5;
      }

      .text-center {
        text-align: center;
      }

      .header {
        display: flex;
        margin-bottom: 20px;
      }
      .header img {
        margin: auto;
      }

      .content {
        margin-bottom: 30px;
      }

      .italic {
        font-style: italic;
      }

      .mt-3 {
        margin-top: 30px;
      }

      .mt-5 {
        margin-top: 50px;
      }

      .footer {
        margin-top: 50px;
        text-align: right;
        font-weight: bold;
        color: #e51c2f;
      }

      .text-red {
        color: #e51c2f !important;
      }

      .link-wrapper {
        text-align: center;
      }

      .link-wrapper a {
        text-decoration: none;
        display: inline-block;
        height: 44px;
        line-height: 44px;
        font-size: 12px;
        padding: 0 20px;
        text-transform: uppercase;
        background-color: #1e2023;
        font-weight: bold;
        color: white !important;
      }

      .text-link {
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <header class="header">
          <img
            style="display: block; width: 137px; height: 26px"
            src="cid:logo1"
          />
        </header>
        <div class="content mt-5">
          <p class="mt-5 text-center">Уважаемый Партнер!</p>
          <p class="mt-3">
            Благодарим за регистрацию в Программе Лояльности<br />"FENOX Шоколад"! В
            качестве благодарности, на Ваш подарочный счет были начислены бонусы
            - в размере 100 баллов.
          </p>
          <p class="mt-3">
            Выбрать подарок, ознакомиться с <a href="{{rulesUrl}}" class="text-link text-red" target="_blank">правилами начисления бонусных баллов</a>,
            и условиями их использования, Вы сможете в Личном кабинете.
          </p>
          <p class="mt-3 italic">
            *Потратить приветственные бонусы возможно, после совершения первой
            покупки, а также, после предоставления подтверждающего отчета от
            выбранного Вами дистрибьютора.
          </p>
          <p class="mt-3">
            Для завершения процесса регистрации в Программе Лояльности "FENOX Шоколад", перейдите в личный кабинет.
          </p>

          <div class="link-wrapper mt-3">
            <a href="{{url}}"> перейти в личный кабинет </a>
          </div>
          <p class="mt-3">
            Служба поддержки партнеров Программы Лояльности "FENOX Шоколад"
            <a class="text-red" href="mailto:chocobonus@dstek.ru"
              >chocobonus@dstek.ru</a
            >
          </p>
        </div>
        <div class="footer">Ваш FENOX</div>
      </div>
    </div>
  </body>
</html>
