@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-path {
    clip-path: polygon(0px 115px, 100% 0px, 100% 100%, 0px 116.87%);
  }

  .client-content-height {
    min-height: calc(100vh - 180px);
  }

  .animate-paused {
    animation-play-state: paused;
  }

  @keyframes infiniteScroll {
    from {
      transform: translateX(5%);
    }
    to {
      transform: translateX(-133%);
    }
  }

  @keyframes infiniteScrollReverse {
    from {
      transform: translateX(-133%);
    }
    to {
      transform: translateX(5%);
    }
  }
}

body {
  margin: 0;
  background-color: #f2f3f5;
}

* {
  box-sizing: border-box;
}
